<div class="d-flex justify-content-between">
  <h2>Task</h2>
  <%= link_to 'Back to list', tasks_path, class:'btn btn-secondary' %>
</div>
<p><%= @task.title %></p>
<p><%= @task.details %></p>
<div class="d-flex justify-content-between">
  <%= link_to 'Edit Task', edit_task_path, class:'btn btn-secondary' %>
  <%= link_to 'Delete Task', task_path(@task), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete the task?'}, class:'btn btn-danger' %>
</div>
